<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>UIAppFonts</key>
	<array>
		<string>Bellota-Bold.ttf</string>
		<string>Bellota-BoldItalic.ttf</string>
		<string>Bellota-Italic.ttf</string>
		<string>Bellota-Light.ttf</string>
		<string>Bellota-LightItalic.ttf</string>
		<string>Bellota-Regular.ttf</string>
		<string>PPPangramSans-Bold.otf</string>
		<string>PPPangramSans-Medium.otf</string>
		<string>PPPangramSans-CompactRegular.otf</string>
		<string>PPPangramSans-CompactItalic.otf</string>
		<string>PPPangramSans-Semibold.otf</string>
		<string>PPPangramSans-Thin.otf</string>
	</array>
</dict>
</plist>
